.controlcont {
    width: 40vw;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 2px auto;
 position: relative;
 bottom: -58px;
 z-index: 1;

}

.controlcont button {
    background: none;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #35b3e7;
    color: white;
    border: none;
    padding: 0;
    margin: 5px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 4px 8px;
    

}

.controlcont button img {
 height: 50px;
 width: 50px;

}


.controlcont button:hover {
    background: none;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    background-color: #1e6381;
    color: white;
    border: none;
    padding: 0;
    margin: 5px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.custom-modal .modal-dialog {
    width: 300px; /* Adjust the width and height as needed */
    height: 300px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   margin: 300px auto;
  
}
.custom-modal .modal-content {
    border-radius: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-modal .modal-header, .custom-modal .modal-footer {
    display: none; /* Hide the header and footer */
}

.custom-modal .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container span{
    margin-left: 4px;
}

.input-field {
    width: 100px;
    text-align: center;
}

.custom-modal .modal-body span {
    color: black;
}
