@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
/* Apply the font to an element */

.cont1 {
    width: 100%;
}

#logo {
    height: 77px;
    width: 56px;
    position: absolute;
    top: 10px;
    right:0;
    bottom:0;
    left: 10px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: black;
  text-align: center;
  position: relative;
  
}

.header-container {
    display: flex; /* Use flexbox for layout */
    align-items: center; /* Align items vertically */
  }