.recentcont {
    background-color: rgba(255, 255, 255, 0.438);
  z-index: 2;
    backdrop-filter: blur(5px);
    width: 30vw;
    text-align: center;
    border-radius: 10px;
    padding: 55px 15px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.recentcont h3 {
    font-size: 1.6rem;
    padding: 10px;
}
.intakecont {
    display: flex; 
    align-items: center; 
    justify-content: space-between;  
    padding: 0 20px;
}

.intakecont img {
    height: 30px;
    text-align: left;
}



@media (max-width: 990px) {
    .recentcont {
        width: 40vw;
    }
}