.watercont {
    width: 30vw;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgba(255, 255, 255, 0.438);
    z-index: 2;
      backdrop-filter: blur(5px);
}

.waterintakecont {
    display: flex; 
    align-items: center; 
    justify-content: space-between;  
    padding: 0 20px;
}

.waterintakecont img {
    height: 30px;
    text-align: left;
}


.watercont button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 5px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#tabs button{
    margin-bottom: 20px;
}
@media (max-width: 990px) {
    .watercont {
        width: 40vw;
    }
}