.watercont {
    background-color: rgb(253, 253, 253);
    width: 20vw;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    margin: 20px auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.waterintakecont {
    display: flex; 
    align-items: center; 
    justify-content: space-between;  
    padding: 0 20px;
}

.waterintakecont img {
    height: 30px;
    text-align: left;
}


.watercont button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 5px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

@media (max-width: 990px) {
    .watercont {
        width: 40vw;
    }
}