:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
width: 100%;
  color-scheme: light dark;
 /* Add your background image here */
 background-image: url('./assets/bg4.jpg'); /* Replace 'path-to-your-image.jpg' with the path to your image */
  
 /* Make the image cover the entire screen */
 background-size: cover;
 
 /* Position the image to the center */
 background-position: center;
 
 /* Do not repeat the image */
 background-repeat: no-repeat;
margin: 0;
padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}